---
import SocialPill from "./icons/SocialPill.astro";
import WsppIcon from "./icons/WsppIcon.astro";
import Mail from "./icons/Mail.astro";
---

<nav class="flex gap-4 mt-2 flex-wrap">
    <SocialPill href="https://wa.link/7ysfed">
        <WsppIcon  class="size-4 md:size-6" />+51 925673381
    </SocialPill>
    <SocialPill>
        <Mail class="size-4 lg:size-6" />jfallamontes98@gmail.com
    </SocialPill>
   
</nav>
